.bg-light2 {
  background-color: #f6f8fa !important;
}

.tab-btn {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.emoji-selector {
  position: absolute !important;
}

.emoji-selector-list-item.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.emoji-selector-list-item {
  cursor: pointer !important;
}

/* Editor, Preview styles */

.preview {
  min-height: 250px;
  padding: 0.375rem 0.75rem;
}

.preview img {
  max-width: 100% !important;
}

.preview blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.editor {
  min-height: 250px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  background-color: #fafbfc !important;
}

.editor:focus {
  background-color: #fff !important;
}
